
<div>

  <ul>
    
    <li > <a href="" routerLink="/" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}">Home</a></li>
    <li >
        <a href="" routerLink="/dashbaord" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}" class="dropdown">DashBoard</a>
    </li>
        <li><a href="" >Profile</a></li>
        <li><a href="" >Login</a></li>
        <li><a href="" >Logout</a></li>
        
        
  </ul>
<hr>
</div><h1  class="Header">Mean App</h1>


